@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor : #1C1C1C;
    --accentcolor: #FF7F02;
}

body {
    background-color: #1C1C1C;
}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
}
.link-tree img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.link-tree h1 {
    font-size: 2.5rem;
}

.link-tree a {
    background-color: #FF7F02;
    color: #FF7F0;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px #FF7F02;
    transition: all 0.5s linear;
}

.link-tree a:hover {
    background-color: #1C1C1C;
    color: #FF7F02;
}

@media (min-width: 1024px) {
    .link-tree {
        width: 40vw;
    }
}
